# Ignore defradb specific files.
build/*
cmd/defradb/defradb
cmd/genclidocs/genclidocs
cmd/genmanpages/genmanpages
coverage.txt
coverage
tests/bench/*.log
tests/bench/*.svg

tests/lenses/rust_wasm32_set_default/Cargo.lock
tests/lenses/rust_wasm32_set_default/target
tests/lenses/rust_wasm32_set_default/pkg
tests/lenses/rust_wasm32_remove/Cargo.lock
tests/lenses/rust_wasm32_remove/target
tests/lenses/rust_wasm32_remove/pkg
tests/lenses/rust_wasm32_copy/Cargo.lock
tests/lenses/rust_wasm32_copy/target
tests/lenses/rust_wasm32_copy/pkg
tests/lenses/rust_wasm32_prepend/Cargo.lock
tests/lenses/rust_wasm32_prepend/target
tests/lenses/rust_wasm32_prepend/pkg
tests/lenses/rust_wasm32_filter/Cargo.lock
tests/lenses/rust_wasm32_filter/target
tests/lenses/rust_wasm32_filter/pkg

# Ignore OS X metadata files.
.history
**.DS_Store
**.DS_Code

# Ignore VS Code files.
**.vscode
**.vcs

# Ignore IntelliJ IDEA.
**.idea

# Ignore vim swap files.
**.swp

# Ignore tfstate (this should be stored remotely in S3).
*.tfstate
**tfstate.*

# Ignore .tfplan files (output of `terraform plan`).
**.tfplan

# Ignore local terraform installs.
**.terraform
**/.terraform/*

# Ignore PEM (ssh and other cert/key) file(s).
**.pem

# If Terraform crashes, don't commit the crash log.
crash.log

# Ignore .zip files, such as Lambda Function code slugs.
**.zip
