html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

#graphiql {
  height: 100vh;
}

.graphiql-defradb-plugin {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.graphiql-defradb-header {
  margin-top: 0;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
}

.graphiql-defradb-subheader {
  margin: 0;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
}

.graphiql-defradb-input-label {
  margin: 0;
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-medium);
}

.graphiql-defradb-error {
  color: rgb(255, 93, 93);
  border: 2px solid rgb(255, 93, 93);
  border-radius: var(--border-radius-4);
  padding: var(--px-8);
}

.graphiql-defradb-input {
  height: 30px;
  width: 100%;

  font-size: var(--font-size-body);
  color: var(--color-neutral);

  background-color: var(--color-primary);
  border: 2px solid hsla(var(--color-neutral), var(--alpha-background-light));
  border-radius: var(--border-radius-4);
}

.graphiql-defradb-textarea {
  min-height: 300px;
  width: 100%;
  resize: vertical;

  font-size: var(--font-size-body);
  color: var(--color-neutral);

  background-color: var(--color-primary);
  border: 2px solid hsla(var(--color-neutral), var(--alpha-background-light));
  border-radius: var(--border-radius-4);
}

.graphiql-defradb-load-form {
  display: flex;
  flex-direction: column;
  gap: var(--px-8);
}

.graphiql-defradb-form {
  border-radius: var(--border-radius-4);
  border: 2px solid hsla(var(--color-neutral), var(--alpha-background-light));
  padding: var(--px-16);

  display: flex;
  flex-direction: column;
  gap: var(--px-8);
}

.graphiql-defradb-field-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graphiql-defradb-field {
  display: flex;
  align-items: center;
  gap: var(--px-8);
}
