/* Copyright 2023 Democratized Data Foundation

Use of this software is governed by the Business Source License
included in the file licenses/BSL.txt.

As of the Change Date specified in that file, in accordance with
the Business Source License, use of this software will be governed
by the Apache License, Version 2.0, included in the file
licenses/APL.txt. */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

#graphiql {
  height: 100vh;
}

.swagger-ui .opblock .opblock-summary {
  overflow-x: hidden;
}

.swagger-ui .opblock .opblock-summary-path {
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  text-overflow: clip;
  white-space: nowrap;
  max-width: none;
}

.swagger-ui .scheme-container {
  background-color: hsl(var(--color-base));
  box-shadow: none;
}

.swagger-ui .opblock-tag {
  border-bottom: 1px solid hsla(var(--color-neutral), var(--alpha-secondary));
}

.swagger-ui,
.swagger-ui .opblock-tag,
.swagger-ui .info .title,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .btn,
.swagger-ui .opblock .opblock-section-header,
.swagger-ui .tab li button.tablinks,
.swagger-ui .model-title,
.swagger-ui .model,
.swagger-ui .response-col_status,
.swagger-ui table thead tr td,
.swagger-ui .response-col_links,
.swagger-ui section.models h4,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5,
.swagger-ui .renderedMarkdown p {
  color: hsla(var(--color-neutral), var(--alpha-secondary));
}

.swagger-ui .opblock-tag small {
  white-space: nowrap;
  overflow-x: hidden;
}

.swagger-ui .opblock .opblock-section-header {
  background-color: hsl(var(--color-base));
}
