# Copyright 2024 Democratized Data Foundation
#
# Use of this software is governed by the Business Source License
# included in the file licenses/BSL.txt.
#
# As of the Change Date specified in that file, in accordance with
# the Business Source License, use of this software will be governed
# by the Apache License, Version 2.0, included in the file
# licenses/APL.txt.

# This workflow checks that go mod tidy command we have set for the specific
# go version is not broken, for example `go mod tidy -go=1.2x.3`. This
# can cause some head scratching at times, so better catch this in the PR.
#
# Inaddition to that also checks that we are currently in a `tidy` state.
name: Check Tidy Workflow

on:
  pull_request:
    branches:
      - master
      - develop

  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    branches:
      - master
      - develop

jobs:
  check-tidy:
    name: Check mod tidy job

    runs-on: ubuntu-latest

    steps:

      - name: Checkout code into the directory
        uses: actions/checkout@v4

      - name: Setup Go environment explicitly
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: false

      # This checks mod tidy is not broken.
      - name: Check mod tidy
        run: make tidy

      # This checks mod tidy is up to date.
      - name: Check no new changes exist
        uses: tj-actions/verify-changed-files@v20
        with:
          fail-if-changed: true
          files: |
             go.mod
             go.sum
